//output:../public/index9.html
include header.pug.jade
    link(rel="stylesheet" href="css/index2.min.css")
      
//0 texto,1 numero,2 estado del numero(si lleva o no lleva numero)
mixin Lis(texto,num,state)
  li.space-between
    a.a-aside-left.f1em=texto
    if state
      .avatar-num.blue.num-v5 #{num}
    
mixin Imgs(url)
  .column
    img.img-v3(src="#{url}" alt="")
      
mixin Stars(text,className)
  .evaluar #{text}
    span.avatar-stars(class="#{className}")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
        i.fa.fa-star(aria-hidden="true")
      
include carta.pug.jade
include carta2.pug.jade
include calificaciones.pug.jade
include contrataciones.pug.jade
     
body
  include nav.pug.jade
  .columns.pad2
    .column.is-3
      aside.left-bar
        ul
          each val in [{text:"Hola ",num:"0",stateNumero:false},{text:"Nuevos Trabajos",num:"0",stateNumero:true},{text:"Trabajos Aceptados",num:"0",stateNumero:false}]
            +Lis(val.text,val.num,val.stateNumero)
    
    .column.is-9.center
      .columns.is-fluid
        .column.is-4
          +Cards2(avatars[0].url,avatars[0].nombre,avatars[0].cargo)
        .column.is-8
          p.description-v8 #{avatars[0].d1}#{avatars[0].d1}
          .ref.right Editar
          br
          .evaluars
            +Stars("Evaluar1","opacity")
            +Stars("Evaluar2","opacity")
          .evaluars
            +Stars("Evaluar3","opacity")
            +Stars("Evaluar4","opacity")
            
      .columns.is-fluid.skills
        .column
          .skill skill1
        .column
          .skill skill2
        .column
          .skill skill3
        .column
          .skill skill4
        .column
          .skill skill5
        .column
          .skill skill6
        .ref.right.flex-end Editar
      
      .flex
        .title-service-v6 Mis Trabajos
        .center.flex.flex-center
          .add.add2.gris +
          
      .columns.is-fluid
        .column
          .box-unknown(style="height:30vh")
        .column
          .box-unknown(style="height:30vh")
        .column
          .box-unknown(style="height:30vh")
        .column
          .box-unknown(style="height:30vh")
            
      .columns.is-fluid
        .column
          .title-service-v6 Ultimas Calificaciones
          +Calificaciones("Roselili","Outstanding experience!","about 20 hours ago")
          +Calificaciones("Savyaguduru","On time delivery and very fast in revision","today")
          +Calificaciones("sckjsis","Excellent work and excellent customer service!","2 days ago")
          +Calificaciones("Cgaines7","Fantastic work, Nailed it. Look forward to working.","2 days ago")
        .column
          .title-service-v6 Ultimas Contrataciones
          +Contrataciones("Roselili","Servicio de plomeria de ba単os","about 20 hours ago")
          +Contrataciones("Savyaguduru","Servicio de plomeria de ba単os","today")
          +Contrataciones("sckjsis","Servicio de plomeria de ba単os","2 days ago")
          +Contrataciones("Cgaines7","Servicio de plomeria de ba単os","2 days ago")
          
           
script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
script(src="https://use.fontawesome.com/baac1788c9.js")
script(src="js/index.js")
